.evaluate{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    position: relative;
    //上一页
    a.shang{ 
        position: absolute;
    }
    //头部
    .evaluateheader{
        width:100%;
        height:rem(118);
        background:#fff;
        h4{
            font-size:rem(38);
            line-height:rem(118);
            text-align:center;
        }
    }
    .evaluatemain{
        width:100%;
        height:100%;
        background:#fff;
        // padding:rem(30);
        box-sizing: border-box;
        dl{
            width:100%;
            border-top:1px solid #ccc;
            padding:rem(20) rem(30);
            dt{
                width:100%;
                padding:rem(10) 0;
                display: flex;
                img{
                    width:rem(180);
                    height:rem(180);
                    border:1px solid #999;
                }
                span{
                    padding:rem(40);
                    font-size:rem(40);
                }
            }
            dd{
                textarea{
                    margin:rem(10) 0;
                    padding:rem(20);
                    border:1px solid #ccc;
                    font-size:rem(40);
                    outline:none;
                }
                .zifu{
                    font-size:rem(40);
                    text-align:right;
                    // padding:rem(20) 0;
                    color:red;
                }
                .pjmain{
                    width:100%;
                    display:flex;
                    justify-content: space-between;
                    padding-top:rem(20);
                    p{
                        font-size:rem(40);
                        span{
                            padding-right:rem(40);
                        }
                    }
                    button{
                        text-align: right;
                        font-size:rem(40);
                        color:#fff;
                        background:red;
                        border:none;
                        outline:none;
                        padding:rem(10) rem(20);
                    }
                }
                
            }
        }
    }
}