.group{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    position: relative;
    //上一页
    a.shang{ 
        position: absolute;
    }
    //内容
    .section{
        width:100%;
        height:100%;
        -webkit-flex:1;
        overflow:auto;
        .header{
            width:100%;
            height:rem(1005);
            img{
                width:100%;
                height:100%;
            }
        }
        //信息
        ul.mess{
            width:100%;
            display:flex;
            flex-direction: column;
            box-sizing:border-box;
            background:#fff;
            li{
                padding:rem(0) rem(48);
                b{
                    font-size:rem(44);
                }
                p{
                    font-size:rem(36);
                }
            }
            li:first-child{
                padding-bottom:rem(20);
            }
            li:nth-child(2){
                p{
                    color:#999;
                }
            }
            li:last-child{
                box-sizing:border-box;
                width:100%;
                height:rem(143);
                display:flex;
                justify-content: space-between;
                margin-top:rem(44);
                background:#b5272d;
                color:#fff;
                font-size:rem(37);
                .left{ 
                    display:flex;
                    justify-content: space-between;
                    .price{
                        line-height:rem(143);
                        padding-right:rem(30);
                        b{
                            font-size:rem(42);
                        }
                    }
                    .open{
                        height:rem(143);
                        color:#fff;
                        padding-top:rem(10);
                        p{
                            line-height:rem(60);
                            s{
                                font-weight: bold;
                            }
                        }
                    }
                    
                }
                .right{
                    // color:#fff;
                    line-height:rem(143);
                }
            }
        }
        //规格
        .size{
            width:100%;
            // height:rem(127);
            background:#fff;
            display:flex;
            justify-content: space-between;
            padding:rem(46) rem(41);
            box-sizing: border-box;
            font-size:rem(33);
            margin-top:rem(44);
            a{
                font-size:rem(40);
                color:#999;
            }
        }
        //拼团流程
        .procss{
            width:100%;
            padding:rem(25) 0;
            margin-top:rem(40);
            background:#fff;
            h4{
                font-size:rem(40);
                padding-left:rem(32);
                padding-bottom:rem(25);
                font-weight:normal;
                border-bottom:1px solid #ccc;
            }
            ul{
                display:flex;
                justify-content: space-around;
                padding-top:rem(25);
                li{
                    width:16%;
                    text-align:center;
                    span{
                        font-size:rem(73);
                    }
                    p{
                        font-size:rem(26);
                        flex-wrap: wrap;
                    }
                }
            }
            
        }
        //介绍
        .recommend{
            margin-top:rem(44);
            width:100%;
            height:100%;
            background:#fff;
            ul{
                display:flex;
                justify-content: space-around;
                
                li{
                    width:50%;
                    text-align:center;
                    font-size:rem(40);
                    padding:rem(33) 0;
                    border-bottom:2px solid #ccc;
                    a{
                        color:#999;
                    }
                }
                li.active{
                    border-bottom:2px solid #b4282d;
                    a{
                        color:#b4282d;
                    }
                }
            }
            //详细介绍
            .content{
                width:100%;
                height:100%;
                img{
                    width:100%;
                }
            }
        }
    }
    //页脚
    .groupfooter{
        width:100%;
        height:rem(145);
        background:#fff;
        display: flex;
        justify-content: space-between;
        //左边   
        .left{
            width:26%;
            padding:0;
            background:#fff;
            li{
                line-height:100%;
                border-right:rem(2) solid #dedede;
                padding:rem(48) rem(40);
                color:#999;
                span{
                    font-size:rem(72);   
                }
            }
            
        }
        //右边
        .right{
            width:70%;
            display:flex;
            justify-content: space-between;
            background:#fff;
            padding:0;
            li{
                width:50%;
                padding:rem(10) 0;
                font-size:rem(39);
                line-height:rem(58);
            }
            li:last-child{
                background:#b5272d;
                color:#fff;
            }
        }
            
    }
}