.box{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    //goods
    .goods{
        -webkit-flex:1;
        overflow: auto;
        //轮播
        .swiper{
            width:100%;
            height:rem(500);
            .swiper-container{
                width:100%;
                height:100%;
                .swiper-wrapper{
                    width:100%;
                    height:100%;
                    .swiper-slide{
                        width:100%;
                        height:100%;
                        img{
                            width:100%;
                            height:100%;
                            display:block;
                        }
                    }
                }
            }
        }
        //nav
        .nav{
            width:100%;
            height:rem(273);
            background:#fff;
            // border-radius:rem(150) rem(150) rem(0) rem(0);
            ul{
                display: flex;
                justify-content: space-between;
                padding:rem(45) rem(91) rem(78) rem(91);
                // position: absolute;
                
                li{
                    text-align:center;
                    a{
                        p{
                            span{
                                font-size:rem(90);
                                font-weight: bold;
                            }
                        }
                        span{
                            font-size:rem(35);
                            color:#333;
                        }
                    }
                    
                    
                }
            }
        }
        //全民砍价
        .list{
            width:100%;
            margin-top:rem(39);
            background:#fff; 
            h4{
                font-size:rem(40);
                padding:rem(40) 0;
                text-align: center;
                a{
                    color:#333;
                }
                span{
                    padding:rem(2) rem(13);
                    color:#7f7f7f;
                    margin-left:rem(15);
                    font-weight:bold;
                    text-decoration:none;
                }
            }
            //列表
            .cutlists{
                width:100%;
                dl{
                    width:100%;
                    border-top:1px solid #ccc;
                    padding:rem(21) rem(27);
                    a{
                        display: flex;
                        dt{
                            width:35%;  
                            img{
                                width:rem(288);
                                height:rem(288);
                                display:block;
                            }
                        }
                        dd{
                            width:65%;
                            padding:0;
                            h4{
                                padding:0;
                                font-size:rem(40);
                                color:#333;
                                text-align: left;
                            }
                            p{
                                font-size:rem(29);
                                color:#999;
                            }
                            .chao{
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                padding-top:rem(20);
                            }
                            ul{
                                border:none;
                                display: flex;
                                flex:1;
                                li{
                                    width:20%;
                                    padding:0;
                                    border:none;
                                    text-align:left;
                                    span{
                                        color:#999;
                                        font-size:rem(30);
                                    }
                                    span.active{
                                        color:red;
                                    }
                                    p{
                                        padding:0;
                                        font-size:rem(35);
                                     }
                                }
                            }
                        }
                    }
                    
                }
            }
            
        }
        //精选主题
        .selected{
            width:100%;
            margin-top:rem(39);
            background:#fff;
            .topic{
                font-size:rem(40);
                padding:rem(40) 0;
                text-align:center;
                a{
                    color:#333;
                }
                span{
                    padding:rem(2) rem(13);
                    color:#7f7f7f;
                    margin-left:rem(15);
                    font-weight:bold;
                    text-decoration:none;
                }
            }
            .main{
                width:100%;
                overflow:auto;
                display: flex;
                justify-content: space-between;
                padding-bottom:rem(75);
                dl{
                    padding:0 rem(26);
                    dt{
                        img{
                            width:rem(916);
                            height:rem(474);
                        }
                    }
                    dd{ 
                        p:first-child{
                            font-size:rem(40);
                            
                            display: flex;
                            justify-content: space-between;
                            span:first-child{
                                width:rem(750);
                                overflow: hidden;/*内容超出后隐藏*/
                                text-overflow: ellipsis;/* 超出内容显示为省略号*/
                                white-space: nowrap;/*文本不进行换行*/
                            }
                            span:last-child{
                                color:#b03939;
                                padding-right:rem(26);
                            }
                        }
                        p:last-child{
                            font-size:rem(30);
                            color:#999;
                            padding-top:rem(15);
                        }
                    }
                }
            }          
        }
        //人气推荐
        .recommend{
            margin-top:rem(39);
            width:100%;
            background:#fff;
            h4{
                font-size:rem(40);
                padding:rem(40) 0;
                text-align:center;
                a{
                    color:#333;
                }
                span{
                    padding:rem(2) rem(13);
                    color:#7f7f7f;
                    margin-left:rem(15);
                    font-weight:bold;
                    text-decoration:none;
                }
            }
            ul{
                display: flex;
                flex-wrap:wrap;
                justify-content: space-around;
                li{
                    width:rem(486);
                    padding-bottom:rem(101);
                    dl{
                        
                        dt{
                            img{
                                width:rem(486);
                            }
                        }
                        dd{
                            p{
                                white-space:nowrap;
                                overflow:hidden;
                                text-overflow:ellipsis;
                            }
                            p:first-child{
                                font-size:rem(40);
                                color:#333;
                                padding-top:rem(14);
                            }
                            p:nth-child(2){
                                font-size:rem(30);
                                color:#999;
                                padding-top:rem(7);
                            }
                            p:last-child{
                                font-size:rem(30);
                                color:#ab2b2b;
                                padding-top:rem(15);
                            }
                        }
                    }
                }
            }
        }
    }
}
