.newaddress{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    position: relative;
    .shang{
        position: absolute;
    }
    //头部
    .newaddressheader{
        width:100%;
        height:rem(118);
        background:#fff;
        // background:red;
        h4{
            font-size:rem(38);
            line-height:rem(118);
            text-align:center;
        }
    }
    //内容
    .newsection{
        width:100%;
        height:100%;
        .newlist{
            width:100%;
            padding:0 rem(40);
            background:#fff;
            li{
                width:100%;
                height:rem(126);
                line-height:rem(126);
                border-bottom:rem(2) solid #f1f1f1;
                font-size:rem(36);
                display:flex;
                justify-content: space-between;
                select{
                    border:none;
                    width:25%;
                    background:#fff;
                    // -webkit-appearance:none;
                }
                label{
                    width:18%;
                    display: inline-block;
                }
                input{
                    width:82%;
                    height:rem(123);
                    border:none;
                    outline:none;
                    text-indent:rem(82);
                }
            }
        }
        //newbutton
        .newbutton{
            padding:0 rem(44);
            p{
                padding-top:rem(44);
                width:100%;
                button{
                    width:100%;
                    height:rem(114);
                    line-height:rem(114);
                    font-size:rem(50);
                    border:none;
                    outline:none;
                    color:#fff;
                    border-radius:rem(5);
                }
                //保存
                .save{
                    background:red;
                }
                //读取
                .read{
                    background:green;
                }
                //cancel取消
                .cancel{
                    background:#fff;
                    border:1px solid #c9c9c9;
                    color:#1d1d1d;
                }
            }
            
        }
    }
}