.payfor{
    width:100%;
    height:100%;
    background:#fff;
    display: flex;
    flex-direction: column;
    position: relative;
    .shang{
        position: absolute;
    }
    //头部
    .payforheader{
        width:100%;
        height:rem(118);
        background:#fff;
        z-index:22222;
        h4{
            font-size:rem(38);
            line-height:rem(118);
            text-align:center;
        }
    }
    //付款main
    .payformain{
        width:100%;
        dl{
            border-top:1px solid #ccc;
            width:100%;
            height:rem(230);
            display: flex;
            padding:rem(63) rem(41);
            dt{
                padding-right:rem(44);
                span{
                    font-size:rem(72);
                }
                .icon-qian1{
                    color:#ff8665;
                }
                .icon-dizhi{
                    color:#75a6e7;
                }
            }
            dd{
                p:first-child{
                    font-size:rem(40);
                    line-height:rem(67);
                    span{
                        color:red;
                    }
                }
                p:last-child{
                    font-size:rem(30);
                    color:#999;
                }
            }
        }
    }
    //支付页脚
    .payforfooter{
        width:100%;
        height:rem(145);
        background:#b5272d;
        position: absolute;
        left:0;
        bottom:0;
        p{
            text-align: center;
            line-height:rem(145);
            color:#fff;
            font-size:rem(42);
        }
    }
}